.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

input[type="checkbox"] {
    transform: scale(1.5);
}

/* Style the checkbox border and background color */
input[type="checkbox"] {
    border: 2px solid #333; /* You can use any color you like */
    background-color: #fff; /* Checkbox background color */
    border-radius: 4px; /* Rounded corners */
    padding: 4px; /* Add some padding around the checkbox */
}

/* Style the checkbox when checked */
input[type="checkbox"]:checked {
    background-color: #007bff; /* You can use any color you like for the checked state */
    border-color: #007bff;
    color: #fff; /* Change the color of the checkmark when checked */
}